// $main-font: 'Raleway', sans-serif;
// $main-font: 'Wire One', sans-serif;
$header-font: 'Six Caps', sans-serif;
// $main-font: 'Open Sans', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;
$serif-font: 'Crimson Text', serif;
$decorative-font: 'Amatic Sc', cursive;
