<div class="container" ng-class="$ctrl.styles.projects">
    <h1>My Work</h1>
    <section class="project">
        <h2>Earth House Juice Co.</h2>
        <img src="http://res.cloudinary.com/lejipni8p/image/upload/c_crop,g_north,h_1200,w_2560/v1490814197/Screen_Shot_2017-03-24_at_5.05.17_PM_gunpnq.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore soluta iusto amet quas, facere et aspernatur fugit sed sit ad dicta quam aut aliquam, aliquid quisquam, deserunt architecto illo obcaecati?</p>
    </section>
    <section class="project">
        <h2>Portamento</h2>
        <img src="http://res.cloudinary.com/lejipni8p/image/upload/c_crop,g_north,h_1300,w_2560/v1490814219/Screen_Shot_2017-03-24_at_5.03.32_PM_gsp3re.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore soluta iusto amet quas, facere et aspernatur fugit sed sit ad dicta quam aut aliquam, aliquid quisquam, deserunt architecto illo obcaecati?</p>
    </section>
</div>
<hr>