<div class="container" ng-class="$ctrl.styles.projects">
    <h1>My Work</h1>
    <section class="project">
        <h2>Earth House Juice Co.</h2>
        <img src="http://res.cloudinary.com/lejipni8p/image/upload/c_crop,g_north,h_1200,w_2560/v1490814197/Screen_Shot_2017-03-24_at_5.05.17_PM_gunpnq.png">
        <p>This site was made for a local coldpress juice company with an AngularJS front-end, and a NodeJS back-end. It uses Stripe to process transaction and dynamically serves content from a Mongo database.</p>
        <p>Take a look at the project <a href="#">here</a>. You can also view the repos for the project <a href="#">here</a> and <a href="#">here</a>.
    </section>
    <section class="project">
        <h2>Portamento</h2>
        <img src="http://res.cloudinary.com/lejipni8p/image/upload/c_crop,g_north,h_1300,w_2560/v1490814219/Screen_Shot_2017-03-24_at_5.03.32_PM_gsp3re.png">
            <p>This web app is a browser-based sythesizer with a social media component that allows users to connect with one another through the sounds they create.</p>
            <p>The front-end of this app was built with AngularJS and ToneJS. The back-end was built with node, using a Mongo database to store user information.</p>
            </p>
        <p>Take a look at the project <a href="#">here</a>. You can also view the repos for the project <a href="#">here</a> and <a href="#">here</a>.
    </section>
</div>
<hr>