<div ng-class="$ctrl.styles.container" class="clearfix container">
    <div class="site-name" ui-sref="home">
        <h1>W<span>.</span>N<span>.</span></h1>
    </div>
        <hamburger class="hamburger" slide-toggle="#mobile-site-nav"></hamburger>
    <div class="site-nav" ng-app="angularSlideables">
        <ul id="mobile-site-nav" class="slideable">
            <li><a ui-sref="about">about</a></li>
            <li><a ui-sref="projects">work</a></li>
            <li>
                <a href="https://github.com/willnickerson">
                    <p><span class="icon-github"></span> -github</p>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/william-nickerson-439976103/">
                    <p><span class="icon-linkedin"></span> -linkedin</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <p><span class="icon-twitter"></span> -twitter </p>
                </a>
            </li>
        </ul>
    </div>
    <ul class="desktop-site-nav">
        <li>
            <a href="#">
                <span class="icon-twitter"></span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/william-nickerson-439976103/">
                <span class="icon-linkedin"></span>
            </a>
        </li>
        <li>
            <a href="https://github.com/willnickerson">
                <span class="icon-github"></span>
            </a>
        </li>
        <li><a ui-sref="projects">work</a></li>
        <li><a ui-sref="about">about</a></li>
    </ul>
</div>