<div ng-class="$ctrl.styles.container" class="clearfix">
    <div class="site-name">
        <h1>WAN/<span class="red">PDX<span></h1>
    </div>
    <div class="site-nav">
        <hamburger class="hamburger" ng-click="$ctrl.toggleNav()"></hamburger>
        <md-sidenav md-component-id="left" class="md-sidenav-left custom-side-nav" md-disable-backdrop="">
            <ul>
                <li>about</li>
                <li>work</li>
                <li>contact</li>
            </ul>
        </md-sidenav>
    </div>
</div>