<hr>
<div class="footer">
    <ul>
        <li><a href="mailto:wnickers@willamette.edu">wnickers@willamette.edu</a></li>
        <li><a href="">(510)590-7431</a></li>
        <li>
            <a href="https://github.com/willnickerson"><span class="icon-github"></span></a>
            <a href="https://www.linkedin.com/in/william-nickerson-439976103"><span class="icon-linkedin"></span></a>
            <a href="tel:1-510-590-7431"><span class="icon-twitter"></span></a>
        </li>
        
    </ul>


</div>