<div class="container">
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ea harum corrupti maiores impedit quis rem delectus modi, labore laborum magni placeat maxime, incidunt itaque nemo. Sed quos nemo expedita!</p>
    
    <hr>
    
    <h3>Services</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, ipsum ratione unde iure tempore quia qui, quasi asperiores excepturi autem et, nisi quo. Odio at fugit, aut praesentium? Aut, blanditiis!</p>
    <p>If you are interested in seeing some of my recent work, check out my <a href="#">projects</a></p>
</div>
