<div class="container" ng-class = $ctrl.styles.about>
    <h3>About Me</h3>
    <p>I am recent college and bootcamp graduate working as a freelancer in Portland, OR. 
       I studied mathematics at <a href="https://willamette.edu">Willamette University</a>, where I developed a passion for finding elegant solutions to new and challenging problems.
       After college, I went through the <a href="">Code Fellows PDX bootcamp</a>, where I was able to apply my love for problem solving to full-stack JavaScript development.
    </p>
    <p>
       Currently, I am accepting freelance work and am on the lookout for my first junior developer position!
    </p>
       
    <h3>Services</h3>
    <h4>Websites</h4>
    <p> Whether you just need something that looks pretty, or want to sell your goods online, I would be thrilled to build you a fast, beautiful, and truly unique site.
    </p>
    <h4>Web Applications</h4>
    <p>
        Using the MEAN(MongoDB, express, AngularJS, NodeJS) stack, I love the challenge of making your idea for a web or mobile application, a reality.
    </p>
    <h4>My Work</h4>
    <p>If you are interested in seeing some of my recent work, check out my <a ui-sref="projects">projects</a></p>.

</div>
<hr>
