html {
    font-size: 16px;
    font-family: sans-serif;
}

body, div, p, img, ul, section {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}